.off-stage
  .slide.centercontents
    .welcome
      h1.cursive Customizing
      img(src="/images/tumblr.png")


  .slide.centercontents
    h1 Hello.


  .slide
    h1 Let's Talk Tumblr
    ul
      li.incremental NYC startup, founded 2007
      li.incremental Design driven
      li.incremental Community
      li.incremental Full featured
      li.incremental You can phone it in (literally)!


  .slide

    h1 Simple Customizations
    ul
      li Typography
      li Upload and use your own logo
      li Embed your tweets


  .slide

    h1 HTML/CSS Review
    ul
      li 
        a(href="http://jsfiddle.net/greims/wq3aT/") jsFiddle
      li Chrome's Developer Tools


  .slide

    h1 Typography
    ul
      li Change the font size of your blog title
      li First, we figure out how to select it (Web Inspector)
      li We use the selector to make a custom style
      li 
        em Demo

  .slide

    h1 Typography II
    ul
      li Add a custom font
      li Visit <a href="http://www.google.com/webfonts">Google's Webfonts</a> and find one you like
      li Copy and paste the resulting link into your theme
      li Use the new font in a custom style
      li 
        em Demo

  .slide

    h1 Your Logo Here
    ul
      li <a href="http://www.tumblr.com/themes/upload_static_file">Upload!</a> (A rather obscure Tumblr theming feature)
      li Warning&hellip;
      li After uploading, you'll get a link that you can copy/paste. Don't lose it!
      li We'll use this link in an image tag we'll add to your theme
      li 
        em Demo

  .slide
    h1 Embed Your Tweets
    ul
      li Set up a <a href="https://twitter.com/about/resources/widgets/">Twitter Widget</a>
      li Customize on Twitter
      li Copy and paste the widget in your theme
      li 
        em Demo

  .slide
    h1 Create Your Own Theme
    ul
      li 
        | This is not for the faint of heart, but fear not&hellip;
        br
        | <a href="/walkthrough">a detailed walk-through.</a>

  .slide
    h1 Getting Help
    ul
      li <a href="http://groups.google.com/group/tumblr-themes/topics">Tumblr Theme Google Group</a>

.stage


footer
  a(href="http://www.shortforgilbert.com") gib
  img(src="/images/g.png")
  a(href="http://twitter.com/greims") @greims
