section.slide

  blockquote.vcenter.incremental
    | &ldquo;It’s just like, web page design. 
    | You know? When you go in, you can do 
    br
    | whatever you want.&rdquo;
    br
    em &mdash; Dutz Bonus, Jr.


section.slide

  h1 Format
  ul.vcenter
    li Presentation
    li Practice
    li Speak up, interrupt&hellip;
  

section.slide

  h1 Why Tumblr?
  ul.vcenter
    li.incremental NYC startup
    li.incremental Design driven
    li.incremental Community
    li.incremental Full featured
    li.incremental You can phone it in (literally)!


section.slide.vsposterous
  h1 Tumblr vs Posterous

  blockquote.vcenter.incremental
    p 
      | &ldquo; Tumblr is a New York company and Posterous is a Silicon Valley company.
    p
      | Or, to put it another way: 
      br
      | Posterous is an engineered product, 
      | while Tumblr is a designed product.&rdquo;
    em &mdash; Pascal-Emmanuel Gobry
  

section.slide
  h1 Customizing Tumblr

  ul.vcenter
    li Tweak an existing theme
    li Start from scratch


section.slide
  h1 Details

  ul.vcenter
    li.incremental Ent&zwnj;ities&zwj;: &mdash; &nbsp; &ndash; &nbsp; &hellip; &nbsp; &ldquo; &nbsp; &rdquo;
    li.incremental Google Fonts
    li.incremental Kerning.js
    li.incremental Text Shadow!
    li.incremental Τάχιστη, 元, 这是一个测试！


section.slide
  h1 Layouts

  ul.vcenter
    li Grid Systems
    li Sass / Less / Stylus
    li Tools are a mixed bag

section.slide
  h1.vcenter Thanks

section.slide
  h1.vcenter Demo


footer
  img(src="/images/artsymark.png", alt="art.sy")
