.off-stage
  .slide.centercontents
    .welcome
      h1.cursive Customizing
      img(src="/images/tumblr.png")


  .slide.centercontents
    h1 Hello.

  .slide
    h1 The Plan
    ul
      li Tumblr Review
      li Tools
      li Simple Customizations
      li Digging Deeper

  .slide
    h1 Let's Talk Tumblr
    ul
      li NYC startup, founded 2007
      li Design driven
      li Community
      li Full featured
      li You can phone it in (literally)!

  .slide
    h1 Tools
    ul
      li 
        a(href="http://jsfiddle.net/greims/wq3aT/") jsFiddle
      li Chrome's Developer Tools


  .slide
    h1 Simple Customizations
    ul
      li Typography
      li Typography II
      li Upload and use your own logo
      li Embed your tweets

  .slide
    h1 Typography
    ul
      li Change the font size of your blog title
      li First, we figure out how to select it (Web Inspector)
      li We use the selector to make a custom style

  .slide.centercontents
      h1 <em>Demo</em>


  .slide

    h1 Typography II
    ul
      li Add a custom font
      li Visit <a href="http://www.google.com/webfonts">Google's Webfonts</a> and find one you like
      li Copy and paste the resulting link into your theme
      li Use the new font in a custom style
      li Fancy stuff <sup>*</sup>

  .slide.centercontents
    h1 <em>Demo</em>

  .slide
    h1 Your Logo Here
    ul
      li <a href="http://www.tumblr.com/themes/upload_static_file">Upload!</a> (A rather obscure Tumblr theming feature)
      li After uploading, you'll get a link&hellip; Don't lose it!
      li Take the link and add an image to the theme

  .slide.centercontents
    h1 <em>Demo</em>

  .slide
    h1 Embed Your Tweets
    ul
      li Set up a <a href="https://twitter.com/about/resources/widgets/">Twitter Widget</a>
      li Customize on Twitter
      li Copy and paste the widget in your theme

  .slide.centercontents
    h1 <em>Demo</em>


  .slide.centercontents
    h1 <em>Questions?</em>

  .slide
    h1 Getting Help
    ul
      li <a href="http://groups.google.com/group/tumblr-themes/topics">Tumblr Theme Google Group</a>
      li <a href="http://www.tumblr.com/docs/en/custom_themes">Tumblr Theme Developer Documentation</a>
      li <a href="http://patdryburgh.com/blog/high-res-images-in-tumblr/">Full-Width High-Res Images</a>
      li <a href="http://buildinternet.com/2010/04/things-to-know-about-custom-tumblr-theme-design/">General Theming Tips</a>

  .slide.centercontents
    h1 
      em Thank you <br />
      <a href="http://www.twitter.com/greims">@greims</a>

.stage


footer
  a(href="http://www.shortforgilbert.com") gib
  img(src="/images/g.png")
  a(href="http://twitter.com/greims") @greims
