section.slide

  ul.vcenter
    li Introduction
    li Tumblr Features
    li Simple Customizations
    li Rolling Your Own Theme

section.slide

  h1 Hi.
  br
  h1 I'm gib.
  br
  h1 I make web stuff.


section.slide

  h1 Let's Talk Tumblr
  ul.vcenter
    li.incremental NYC startup, founded 2007
    li.incremental Design driven
    li.incremental Community
    li.incremental Full featured
    li.incremental You can phone it in (literally)!


section.slide

  h1 Simple Customizations
  ul.vcenter
    li Typography
    li Upload and use your own logo
    li Embed your tweets


section.slide

  h1 HTML/CSS Review
  ul.vcenter
    li 
      a(href="http://jsfiddle.net/greims/wq3aT/") jsFiddle
    li Chrome's Developer Tools


section.slide

  h1 Typography
  ul.vcenter
    li Change the font size of your blog title
    li First, we figure out how to select it (Web Inspector)
    li We use the selector to make a custom style
    li 
      em Demo

section.slide

  h1 Typography II
  ul.vcenter
    li Add a custom font
    li Visit <a href="http://www.google.com/webfonts">Google's Webfonts</a> and find one you like
    li Copy and paste the resulting link into your theme
    li Use the new font in a custom style
    li 
      em Demo

section.slide

  h1 Your Logo Here
  ul.vcenter
    li <a href="http://www.tumblr.com/themes/upload_static_file">Upload!</a> (A rather obscure Tumblr theming feature)
    li Warning&hellip;
    li After uploading, you'll get a link that you can copy/paste. Don't lose it!
    li We'll use this link in an image tag we'll add to your theme
    li 
      em Demo

section.slide

  h1 Embed Your Tweets
  ul.vcenter
    li Set up a <a href="https://twitter.com/about/resources/widgets/">Twitter Widget</a>
    li Customize on Twitter
    li Copy and paste the widget in your theme
    li 
      em Demo

section.slide

  h1 Create Your Own Theme
  ul.vcenter
    li 
      | This is not for the faint of heart, but fear not&hellip;
      br
      | <a href="/walkthrough">a detailed walk-through.</a>

section.slide

  h1 Getting Help
  ul.vcenter
    li <a href="http://groups.google.com/group/tumblr-themes/topics">Tumblr Theme Google Group</a>


footer
  | gib
