!!!
html
  head
    title= title
    link(href='http://fonts.googleapis.com/css?family=Istok+Web:400,400italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/fonts.css')
    link(rel='stylesheet', href='/stylesheets/slippy.css')
    link(rel='stylesheet', href='/stylesheets/slippy-pure.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    != body
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
    script(src='/javascripts/jquery.history.js')
    script(src='/javascripts/slippy.js')
    script(src='/javascripts/tumblrthis.js')
